:host {
  position: sticky;
  top: 0;
  z-index: 50;
  display: block;
  width: 100%;
}
.navbar {
  @apply w-full h-[90px] flex justify-center items-center overflow-hidden;
  background-color: #060F24;
  border-bottom: 1px solid rgba(88, 97, 118, 0.35);
}

.navbar__inner {
  @apply w-full max-w-[1353px] h-[93px] flex justify-start items-center gap-28 px-9;
}

.navbar__logo {
  @apply w-[342px] h-[61px] object-cover;
}

.navbar__links {
  @apply flex justify-start items-center gap-4;
}

.navbar__link {
  @apply flex justify-center items-center gap-2 p-2 text-white text-2xl;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.1;
  text-decoration: none;
}

.navbar__cta {
  @apply inline-flex justify-center items-center gap-2 p-4 rounded-xl;
  text-decoration: none;
  background: radial-gradient(60% 50% at 50% 50%, #aeda68 67.31134057044983%, #91d12d 100%);
  color: #1A2643;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
