<div id="home" class="home__hero-banner">
  <img class="home__banner" src="hero-bg.png" alt="Banner" />

  <div class="home__headline-wrap">
    <p class="home__headline">
      <span class="home__headline-white">COMMUNITY FOCUSED INDOOR DIGITAL</span>
      <span class="home__headline-accent"> BILLBOARDS</span>
    </p>
    
    <p class="home__description">
      N-Compass TV’s business model boasts high revenue potential
      and low startup costs, making it an attractive option for aspiring entrepreneurs.
    </p>

    <button class="home__cta" type="button">Learn More</button>

  </div>
</div>
